#?
#? Rename this file to ".env" and edit the values as needed.
#?
#?####################
#? VARIABLE STRUCTURE:
#?####################
#? [ default ] : type < min - max >
#?      ^         ^         ^
#?      |         |         |
#?      |         |         +---- RANGE between two values (inclusive)
#?      |         +-------------- TYPE of the variable
#?      +------------------------ DEFAULT value if not set
#?
#?###################
#? COMMENT STRUCTURE:
#?###################
#? "#?#...", "###..." for section headers
#? "#?" for help
#? "##" for description
#? "#" for variable definitions
#?

## Log level: [3]:integer<0-4>
#? 0=none, 1=error, 2=warn, 3=info, 4=debug
#JSPB_LOG_VERBOSITY=3

## Include timestamps in logs?: [true]:boolean
#JSPB_LOG_TIME=true

## Hostname to bind: [::]:string
#JSPB_HOSTNAME=::

## Port to bind: [8080]:integer<0-65535>
#JSPB_PORT=8080

############
## DOCUMENT:
############
## Maximum size per document: [1mb]:string
#? 0=disabled, units: b/k(i)b/m(i)b/g(i)b/t(i)b
#JSPB_DOCUMENT_SIZE=1mb

## Compress document?: [true]:boolean
#? It doesn't apply retroactively to existing documents.
#JSPB_DOCUMENT_COMPRESSION=true

## Delete documents older than: [0]:string
#? 0=disabled, units: s/m/h/d/w/M/y
#JSPB_DOCUMENT_AGE=0

## Delete anonymous documents older than: [7d]:string
#? 0=disabled, units: s/m/h/d/w/M/y
#JSPB_DOCUMENT_ANONYMOUS_AGE=7d

########
## USER:
########
## Allow user registration?: [true]:boolean
#? Root user can always create new users.
#JSPB_USER_REGISTER=true

## Restore the root user?: [false]:boolean
#? Make sure to disable this again after successful recovery.
#JSPB_USER_ROOT_RECOVERY=false

########
## TASK:
########
## Cleanup task cron schedule: [0 1 * * *]:string
#? https://crontab.guru/#0_1_*_*_*
#JSPB_TASK_SWEEPER=0 1 * * *
