## SERVER:
# Set log verbosity [2]:integer
# 0=error <- 1=warn <- 2=info <- 3=debug
#LOGLEVEL=2

# Port for the server [4000]:integer
#PORT=4000

# Root path for the server (NOT IMPLEMENTED) [/api]:string
# (Everything will be served under this path)
#PATH=/api

# Is website served over HTTPS? [true]:boolean
#TLS=true

# Salt for hashing passwords []:string
# (Generate a unique secure salt: echo $(openssl rand -base64 32))
#SALT=

## DOCUMENTATION:
# Enable documentation? [false]:boolean
#DOCS_ENABLED=false

# Path to documentation [/docs]:string
#DOCS_PATH=/docs

## DOCUMENT:
# Maximum document size in kilobytes [1024]:integer
#DOCUMENT_MAXSIZE=1024