*

!/.github/
!/.github/renovate.json
!/.github/workflows/*.yml
!/.zed/
!/.zed/settings.json
!/lib/
!/lib/**
!/src/
!/src/**
!/.dockerignore
!/.editorconfig
!/.env.example
!/.gitattributes
!/.gitignore
!/.npmrc
!/biome.json
!/CONTRIBUTING.md
!/deno.json
!/deno.lock
!/Dockerfile
!/LICENSE
!/mise.toml
!/package.json
!/README.md
!/rolldown.config.ts
!/tsconfig.json