*

# Project files
!/.env.example
!/biome.json
!/bun.lock
!/bunfig.toml
!/CONTRIBUTING.md
!/lefthook.json
!/LICENSE
!/package.json
!/README.md
!/tsconfig.json

# SRC
!/src/
!/src/**

# GIT
!/.gitattributes
!/.gitignore

# GitHub
!/.github/
!/.github/**
!/.github/workflows/*.yml

# Docker
!/.dockerignore
!/Dockerfile