name: CI -> Test
on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths-ignore:
      - '*.md'
      - '.*ignore'

  pull_request:
    branches:
      - dev
    paths-ignore:
      - '*.md'
      - '.*ignore'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Setup Bun
        uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2.0.1

      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false

      - name: Setup production dependencies
        run: bun install --frozen-lockfile --production

      - name: Run build:server
        run: bun run build:server

      - name: Setup development dependencies
        run: bun install --frozen-lockfile

      - name: Run lint
        run: bun run lint
